.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.items {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.item {
  font-size: var(--font-size-m);
  line-height: var(--line-height-normal);
  color: var(--color-text-secondary);
}