.header {
  margin-bottom: 8px;
}

.title {
  font-size: var(--md-sys-typescale-title-medium-size);
  font-weight: var(--md-sys-typescale-title-medium-emphasized-weight);
  color: var(--md-sys-color-on-surface);
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;
  gap: 8px;
}

.mobileCompact {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

@media (min-width: 601px) {
  .mobileCompact {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

.mobileCompact {
  --positive-ink: light-dark(#167b43, #1bc5bd);
  --caution-ink: light-dark(#795600, #fea135);
}
