.sign {
  display: inline;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.icon {
  display: inline-block;
  width: 0.645em;
  height: 1.566em;
  vertical-align: -0.337em;
}

.accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
