.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: var(--md-sys-typescale-label-medium-size);
  font-weight: var(--md-sys-typescale-label-large-weight);
  color: var(--md-sys-color-on-surface-variant);
}

.container {
  container-type: inline-size;
}

.circles {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(12, auto);
}

@container (max-width: 423px) {
  .circles {
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
  }
}

.circle {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: var(--md-sys-shape-corner-full);
  cursor: pointer;
}

.circle:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clearButton {
  align-self: flex-start;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--md-sys-color-on-surface-variant);
  font-size: var(--md-sys-typescale-body-small-size);
  font-weight: var(--md-sys-typescale-body-medium-weight);
  cursor: pointer;
}

.clearButton[data-active='true'] {
  color: var(--md-sys-color-on-surface);
  font-weight: var(--md-sys-typescale-label-large-weight);
}

.clearButton:disabled {
  cursor: not-allowed;
}
